.footer{
    &-section{
        padding: 5rem 0;
        background-color: #1b242f;
    }
    &__container{
        display: flex;
        justify-content: center;
        & > figure{
            display: flex;
            justify-content: center;
            align-items: center;
            background: #262f38;
            width: 6rem;
            height: 6rem;
            border-radius: 5px;
            &:not(:last-child){
                margin-right: 3rem;
            }
    }
    }
    
    &__icon{
        width: 3rem;
        height: 3rem;
    }

}