//Intro section

.intro{
  height: 100vh;
  background-color: #252934;
  position: relative;
  &__img{
    & > .span1{
      font-size: 4rem;
      font-weight: 700;
      position: absolute;
      top: 24%;
      left: 10%;
      transform: translateX(-10%);
      color: white;
      @media (max-width: $bp-small){
        font-size: 3rem;
      }
    }
    & > .span2{
      font-size: 4rem;
      font-weight: 700;
      position: absolute;
      top: 24%;
      right: 10%;
      transform: translateX(-10%);
      color: white;
      @media (max-width: $bp-small){
        font-size: 3rem;
        right: 8%;
      }
    }
    & > img {
      position: absolute;
      left: 50%;
      top: 12%;
      transform: translateX(-50%);
      width: 20rem;
      height: 20rem;
      border: 15px solid white;
      box-sizing: border-box;
      border-radius: 12.4rem;
      @media (max-width: $bp-small){
        width: 17rem;
        height: 17rem;
      }
    }
  }

  &__content{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    @media (max-width: $bp-medium){
      width: 85%;
    }
    & > h2{
      font-size: 4rem;
      line-height: 6rem;
      @media (max-width: $bp-small){
        font-size: 3rem;
      }
    }
    & > h3{
      font-size: 3.6rem;
      line-height: 4.2rem;
      margin-bottom: 1.6rem;
      @media (max-width: $bp-small){
        font-size: 3rem;
      }
      & > span{
        color: #61C1EB;
      }
    }
  }

  &__icons{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -10%);
    @media (max-width: $bp-small){
      bottom: 5%;
    }
    & > figure{
      &:not(:last-child){
        margin-right: 3rem;
      }
    }
  }
  &__icon{
    width: 5rem;
  }
}